a:visited{
    color: grey;
}

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
}

.nav_item {
    font-size: 25px;
    color: white;
    margin-right: 40px;
    list-style: none;
}

body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    color: black;
}

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 70%;
}

.about img{
    width: 50%;
    margin-bottom: 20px;
}

.traditional{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.t-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.traditional img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 20px;
    margin-top: 30px;
}

.digital{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.d-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.digital img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 20px;
    margin-top: 30px;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    color: black;
}

footer{
    display: flex;
    justify-content: center;
    color: white;
}